*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;

}


body{

min-height:100vh;

background:

radial-gradient(circle at top right,#d00000,transparent 30%),

#111;

display:flex;

align-items:center;

justify-content:center;

}



.login-page{

padding:20px;

width:100%;

}



.login-box{

max-width:420px;

margin:auto;

background:#181818;

padding:45px;

border-radius:25px;

text-align:center;

color:white;

border:1px solid rgba(255,255,255,.1);

box-shadow:0 20px 60px rgba(0,0,0,.5);

}



.login-box img{

width:130px;

margin-bottom:30px;

}



.login-box h1{

font-size:32px;

margin-bottom:12px;

}



.login-box p{

color:#aaa;

margin-bottom:35px;

}



.campo{

text-align:left;

margin-bottom:20px;

}



.campo label{

display:block;

margin-bottom:8px;

font-weight:600;

}



.campo input{

width:100%;

padding:15px;

background:#222;

border:1px solid #333;

border-radius:12px;

color:white;

outline:none;

}



.login-box button{

width:100%;

padding:15px;

background:#d00000;

border:none;

border-radius:12px;

color:white;

font-weight:800;

font-size:16px;

cursor:pointer;

}



.login-box button:hover{

background:#a00000;

}



.login-box a{

display:block;

margin-top:20px;

color:#aaa;

font-size:14px;

}